<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
          <h3> Your Email </h3> <%= email %> <h3> been added Succesfully to our subscribers list! </h3>
  </body>
</html>
